input.input {
    font-size: 1.5rem;
    top: 3rem;
    position: absolute;
    left: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
}

ul.container {
    padding: 2rem;
    position: absolute;
    top: 12vh;
    width: 100vw;
    height: 90vh;
    display: grid;
    list-style: none;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%;
    justify-content: space-evenly;
}